/* *** 08-03-1999 *** */
BODY { background: white;
/*       margin-right: 120px; */
       color: black; }
/*    font-family: helvetica, arial, sans-serif } */
H1 {background: white; font-family:  helvetica }
H2, H3, H4 {background: white; font-family: helvetica }
