<style type "text/css">
img {border: 0ex 0ex 0ex 0ex}
.ttt {color: navy;
              font-family: serif;}
code {
              font-family: monospace;}
span.parametr{font-style: italic;
              font-family: monospace;}
div.gora_plus {padding: 2ex 0ex 0ex 0ex}
ul.kursy {padding: 0ex 0ex 0ex 0ex;
	  list-style-image: url("gify/kurs.gif");
          margin-top: 0ex;
          margin-bottom: 0ex;
	  margin-left: 2ex}
  body  {background-color: #a0f0a0;}

h1 {
    left-margin: 0pt}
h2 {
    left-margin: 0pt}
h3 {
    left-margin: 0pt}
h4 {
    left-margin: 0pt}
h5 {
    left-margin: 0pt}
h6 {
    left-margin: 0pt}
p.center {
   text-align: center;
   text-indent: 0em;
   margin-top: 0ex;
   margin-bottom: 0ex}
table {
   margin-top: 1ex;
   margin-bottom: 0ex}
p {
   text-align: justify;
   text-indent: 1.5em;
   margin-top: 0.2ex;
   margin-bottom: 0ex}
pre {
   text-indent: 0em;
   margin-top: 0.2ex;
   margin-bottom: 0ex}
p.noindent {
   text-align: justify;
   text-indent: 0em;
   margin-top: 0ex;
   margin-bottom: 0ex}
code, tt, i, pre {color: navy}
.ttt {color: navy}
body {background= #a0f0a0}
</style>

